<nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="roleName=='employee'||roleName=='manager' ">
        <a class="nav-link" href="#" [routerLink]="['/employee']">Employee <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" *ngIf="roleName=='human resources'|| roleName=='manager'">
        <a class="nav-link" href="#" [routerLink]="['/human-resouces']">HR <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li><a href="#" class="nav-link" (click)="logout()">Logout</a></li> -->
    </ul>

  </div>
  <div>
    <p class="text-right pt-3"><b>Welcome {{userName}}</b></p>
  </div>
  <div class="text-right"><a href="#" class="nav-link text-white" (click)="logout()"><b>Logout</b></a></div>
</nav>
<router-outlet></router-outlet>